<a href="https://colab.research.google.com/github/iamrohandey/Codsoft/blob/main/Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
data = pd.read_csv('car_purchasing.csv',encoding='latin-1')

In [3]:
data.head()

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

In [4]:
df = data['customer name'].str.split(' ', expand=True)
df.columns = ['name1', 'name2', 'name3']
data = pd.concat([data, df], axis=1)

In [5]:
df = data['customer e-mail'].str.split('.', expand=True)
df.columns = ['email1', 'email2', 'email3','email4','email5']
df = pd.concat([df, df['email1'].str.split('@',expand=True)], axis=1)
df = pd.concat([df, df['email2'].str.split('@',expand=True)], axis=1)
df = pd.concat([df, df['email3'].str.split('@',expand=True)], axis=1)
df = pd.concat([df, df['email4'].str.split('@',expand=True)], axis=1)
df = pd.concat([df, df['email5'].str.split('@',expand=True)], axis=1)
names = ['email' + str(i) for i in range(len(df.columns))]
df.columns = names
data = pd.concat([data, df], axis=1)

In [6]:
for column in data.columns:
    if data[column].dtypes == 'object':
        try:
            data[column] = data[column].astype(float)
        except:
            data[column] = (pd.factorize(data[column])[0])

In [7]:
data

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount,name1,...,email3,email4,email5,email6,email7,email8,email9,email10,email11,email12
0,0,0,0,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877,0,...,0,-1,0,-1,0,-1,0,0,0,-1
1,1,1,1,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566,1,...,1,-1,1,-1,1,0,1,-1,1,-1
2,2,2,2,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921,2,...,2,0,2,-1,2,-1,2,1,2,0
3,3,3,3,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313,3,...,-1,-1,3,0,3,-1,-1,-1,-1,-1
4,4,4,4,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248,4,...,3,-1,4,-1,4,-1,3,2,3,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,411,495,94,0,41.462515,71942.40291,6995.902524,541670.1016,48901.44342,357,...,-1,-1,126,159,23,-1,-1,-1,-1,-1
496,494,496,124,1,37.642000,56039.49793,12301.456790,360419.0988,31491.41457,416,...,0,-1,118,-1,98,-1,71,148,0,-1
497,495,497,160,1,53.943497,68888.77805,10611.606860,764531.3203,64147.28888,417,...,-1,-1,156,-1,26,147,13,-1,-1,-1
498,496,498,31,1,59.160509,49811.99062,14013.034510,337826.6382,45442.15353,418,...,-1,-1,44,-1,125,148,11,-1,-1,-1
499,497,499,210,1,46.731152,61370.67766,9391.341628,462946.4924,45107.22566,419,...,-1,-1,157,-1,144,149,13,-1,-1,-1

In [8]:
from sklearn.model_selection import train_test_split
x = data.drop('car purchase amount',axis=1)
y = data['car purchase amount']

In [9]:
from sklearn.ensemble import RandomForestRegressor
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30, random_state=42)
model = RandomForestRegressor()
model.fit(xtrain, ytrain)
print(model.score(xtest, ytest))

0.941134331241509